= partial 'partials/sidebar-toggle'
= partial 'partials/sidebar-no-audio'
= partial 'partials/apple-modal'
= partial 'partials/android-modal'
= partial 'partials/subscribe-modal'

.main 
     .main__club.col-12.mt4.center.animated.fadeIn
          %h1.m0.px2 Ambassador Status
          %h2.mt1.mb3.px2 Check how many people you've introduced to Noon Pacific
          .ambassador-subscribe-container
               %form.form-inline#ambassador_form{:action => "https://api.kickofflabs.com/v1/38778/subscribe", :method => "POST", :role => "form"}
                    / %input{:name => "return_url", :type => "hidden", :value => "/"}
                    %input{:name => "email", :placeholder => "Your Email Address", :type => "email"}
                         %button#ambassador-check{:type => "submit"}
                              %i.fa.fa-long-arrow-right

          .ambassador-results.animated.fadeIn
               %h3 Your Share URL
               %p#ambassador-share-url

               %h3 Direct Referrals
               %p#ambassador-direct-referrals

               %h3 Indirect Referrals
               %p#ambassador-indirect-referrals
