= partial 'partials/sidebar-toggle'
= partial 'partials/sidebar'
= partial 'partials/app-modal'
= partial 'partials/subscribe-modal'

.main 
     .main__club.col-12.mt4.center.animated.fadeIn
          %h1.m0.px2 THE NOON PACIFIC CLUB
          %h2.mt1.mb3.px2 A community of music lovers powered by Slack
          %a.btn.btn-black.my2{href: "/join-club", target: "_blank"} Join Now For Free
          %p.m0 Already a member? <a href="http://noon-pacific-club.slack.com">Sign In</a>
          .club-info.clearfix
               .sm-col.sm-col-12.md-col-4.p4.left
                    %h3.m0 #general
                    %p.mt1.grey Chat about the latest mixtape and everything Noon Pacific.
               .sm-col.sm-col-12.md-col-4.p4.left
                    %h3.m0 #submissions
                    %p.mt1.grey Find a rad song we should hear? Submit it.
               .sm-col.sm-col-12.md-col-4.p4.left
                    %h3.m0 #mixtape-art
                    %p.mt1.grey Get your photo featured as the next mixtape cover. 
          .club-screen
               %img{src: "#{image_path("npclub.jpg")}"}