= partial 'partials/sidebar-toggle'
= partial 'partials/sidebar-no-audio'
= partial 'partials/apple-modal'
= partial 'partials/android-modal'
= partial 'partials/subscribe-modal'

.main 
     .main__coachella.col-12.mt4.center.animated.fadeIn
          %img{src: "#{image_path("coachella_logo.png")}"}
          %h3 Your curated guide for doing Indio right
          %section.intro.col-8.mx-auto
               Here at Noon Pacific, we love the artists that Coachella curates year in and year out, but what we love even more is leading you off the beaten path &mdash; bringing you new tunes to expand your musical horizons. Check out our list below. This is who we suggest seeing when main stage is packed or your friends are lagging in the beer garden. Go by yourself, get to the front, and look for us rocking out.
          %h1 Friday, April 15 &amp; April 22, 2016
          %section.cd-timeline.cd-container
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Foals
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/220160169&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 G-Eazy
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/20672995&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Lord Huron
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/103572556&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Snakehips
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/100490284&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Bob Moses
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/224018321&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Mavis Staples
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/246241673&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Goldroom
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/228683010&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Louis The Child
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/223228432&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Gallant
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/212522306&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Miami Horror
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/191371408&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 SG Lewis
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/242894208&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Sufjan Stevens
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/195330662&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 M83
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/19087066&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>

          .divider
          %h1 Saturday, April 16 &amp; April 23, 2016
          %section.cd-timeline.cd-container
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Disclosure
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/93555520&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 A$AP Rocky
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/52751048&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Chronixx
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/105551248&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Gary Clark Jr.
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/95299603&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Protoje
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/6263120&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Rufus Du Sol
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/233770380&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Rhye
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/35335557&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Unknown Mortal Orchestra
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/189137400&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Zhu
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/138712428&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
          .divider
          %h1 Sunday, April 17 &amp; April 24, 2016
          %section.cd-timeline.cd-container
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Anderson .Paak
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241945423&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Beach House
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/76958673&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Claptone Immortal Live
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/229246208&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Edward Sharpe and The Magnetic Zeros
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/244066645&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Flume
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/242136202&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Crystal Fighters
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/166056126&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Tensnake
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/123372249&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Miike Snow
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/230632122&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Nosaj Thing
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/91126238&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Soul Clap
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/245158845&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Thomas Jack
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/220839019&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Young Fathers
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/86409871&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
               .cd-timeline-block
                    .cd-timeline-img.cd-picture
                    .cd-timeline-content
                         %h2 Major Lazer
                         <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/252529120&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>

          %section.drink.col-8.mx-auto
               %h1 Food &amp; Drink
          %section.art.col-8.mx-auto
               %h1 Art Installations
               %ul.list-reset
                    %li.my2 
                         Alexandre Arrechea
                    %li.my2 
                         Robert Bose
                    %li.my2  
                         Jimenez Lai
                    %li.my2  
                         Date Farmers
                    %li.my2  
                         Roberto Behar &amp; Marquardt
                    %li.my2  
                         Katrina Neiburga &amp; Andris Eglitis
                    %li.my2  
                         Phillip K. Smith III
                    %li.my2  
                         Do Lab
          .share-coachella
               %h2 SHARE THIS GUIDE
               %a.btn.btn-black.facebook{:href => "https://www.facebook.com/sharer/sharer.php?u=noonpacific.com/coachella-guide", :target => "_blank"}
                    %i.fa.fa-facebook 
                    Share
               %a.btn.btn-black.twitter{:href => "https://twitter.com/home?status=The%20%40NoonPacific%20Guide%20to%20%40Coachella!%20Check%20out%20which%20artists%20you%20can't%20miss,%20the%20best%20food%20spots,%20and%20the%20best%20brews.%20http%3A//bit.ly/1UlONs2", :target => "_blank"} 
                    %i.fa.fa-twitter
                    Tweet