= partial 'partials/sidebar-toggle'
= partial 'partials/sidebar-no-audio'
= partial 'partials/apple-modal'
= partial 'partials/android-modal'
= partial 'partials/subscribe-modal'

.main 
     .main__coachella.animated.fade-in.col-12.mt4
          %section.coachella-heading
               %img{src: "#{image_path("coachella_logo.png")}"}
               %h3 Your curated guide for doing Indio right
          %section.listen.row
               .col-6.mx-auto
                    %h2 LISTEN
                    %ol 
                         %li 
                              %h4 Anderson .Paak
                              <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/241945423&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
                         %li 
                              %h4 Gallant
                              <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/212522306&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
                         %li 
                              %h4 Miami Horror
                              <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/191371408&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
                         %li 
                              %h4 Young Fathers
                              <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/86409871&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
                         %li 
                              %h4 Soul Clap
                              <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/245158845&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
                         %li 
                              %h4 Unknown Mortal Orchestra
                              <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/189137400&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
                         %li 
                              %h4 Rufus Du Sol
                              <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/233770380&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
                         %li 
                              %h4 Snakehips
                              <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/100490284&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
                         %li 
                              %h4 Bob Moses
                              <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/224018321&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
                         %li 
                              %h4 Christine and the Queens
                              <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/218060850&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
          %section.taste.row
               .col-6.mx-auto
                    %h2 TASTE
                    %ol 
                         %li 
                              %h4 Blue Bottle Coffee
                              %p.sub-title Coffee | Terrace
                              %p This is your life source for the weekend. Tip well on the first day, you’ll want to be in their good graces when you need it most.
                         %li 
                              %h4 Craft Beer Barn
                              %p.sub-title Beer + Food
                              %p This place should be your groups designated meeting area. They have a massive craft beer selection from local breweries and also home to great eats, including a secret air conditioned Mexican restaurant in the back for a Margarita-infused cool down.
                         %li 
                              %h4 Rossoblu 
                              %p.sub-title Pizza | Craft Beer Barn
                              %p Steve Samson, the man behind Sotto, is giving us an early taste of his upcoming DTLA Italian joint. Pizza is the perfect grab-n-go refuel while running across the fields to the front row of the next set.

                         %li 
                              %h4 Starry Kitchen + Button Mash
                              %p.sub-title Asian Fusion | Craft Beer Barn
                              %p This husband and wife duo started by slangin’ Tofu Balls out of their apartment in Korea Town. Now they’ve teamed up with Button Mash, an arcade bar in Echo Park, to open up as a semi-proper restaurant. Love the underground vibes.
                         %li 
                              %h4 Free Range
                              %p.sub-title Fried Chicken Sandwiches | Terrace
                              %p Local LA food truck famous for their Fried Chicken Sandwich, but offering so much more. Their breakfast sandwiches are bomb. If your favorite band is slotted at noon on Saturday or Sunday, head in a little early to grab some breky inside the fest.
                         %li 
                              %h4 Eureka!
                              %p.sub-title Artisan Burgers | Craft Beer Barn
                              %p Quality is number one at Eureka! With the freshest ingredients and artisan recipes they have established themselves as a regular in the Craft Beer Barn. Grab one of these on Saturday afternoon paired with your favorite brew to get the night started right.
                         %li 
                              %h4 Cupcake Vinyards
                              %p.sub-title Wine | Terrace
                              %p This is a new addition to the festival this year and we’re stoked. There is nothing like a nice glass of wine on a Sunday afternoon… now do it at Coachella. After a weekend of beer and burgers it’s time to class it up. Official Sunday meeting place for Coachella romance!
                         %li 
                              %h4 McConnell’s
                              %p.sub-title Ice Cream | Terrace Yurts
                              %p Speaking of Coachella romance, now you can throw it back to your middle schools days and take that special someone for an ice cream date. If you’ve never experienced this creamy goodness from Santa Barbara, you’re in luck.
                         %li 
                              %h4 Guerilla Tacos
                              %p.sub-title Tacos | Rose Garden
                              %p While not available to most GA folks, we know you aren’t phased by a “VIP Only” sign. If you can convince the rent-a-cop to let you in, make a beeline for the taco deliciousness this truck has to offer. A belly full of tacos, ain’t nothing better.
                         %li 
                              %h4 Poutine Your Mouth
                              %p.sub-title Poutine | Campground
                              %p It’s 1am. The music is over. You’re cold, dusty and your phone’s dead. No one in your group has any idea where you’re supposed to meet the shuttle. And that one friend with the shuttle driver’s number is back in the campgrounds stuffing his face with poutine. Go join him, you won’t regret it.
          %section.see.row
               .col-6.mx-auto
                    %h2 Experience
                    %ol 
                         %li 
                              %h4 Alexandre Arrechea
                              %p Born in Cuba in 1970, Alexandre is known for employing visual metaphors for ongoing social themes of inequality, cultural disenfranchisement, and the disputed position of art in a global, media driven society. His installation this year is a big one. Titled, Katrina Chairs, and standing at 50 feet tall, this one is sure to catch your eye as you walk down the hill towards main stage.
                              Follow him on Instagram for updates: <a href="instagram.com/alexandrearrechea" target="_blank">@alexandrearrechea</a>
                         %li
                              %h4 Phillip K. Smith III
                              %p Phillip brought us the reflective fields in 2014 is back for another round. His project Lucid Stead in Joshua Tree perfectly exemplifies his mind blowing attention to detail. For this year we’re expecting Phillip to strip it down even further with extremely minimalist sculptures exploring the way we perceive light and shadows. 
                              Check out his Instagram: <a href="instagram.com/phillipksmith3" target="_blank">@phillipksmith3</a>
                         %li
                              %h4 R&amp;R Studios
                              %p R&amp;R Studios is the multidisciplinary practice of Roberto Behar and Rosario Marquardt that weaves together visual arts, design, architecture and urbanism. Their works erase the border between art and life. We expect this to be big and colorful. 
                              Check out their work: <a href="http://www.rr-studios.com/" target="_blank">RR-Studios.com</a>
                         %li
                              %h4 Jimenez Lai
                              %p Founder of LA based, Bureau Spectacular, is our resident architect this year. He has stated that he will be building a “very large structure” and he wants to “kiss the earth Kevin Costner style.” Whatever that means, his work is awesome. 
                              Check out his Instagram: <a href="instagram.com/0super" target="_blank">@0super</a>
                         %li
                              %h4 Date Farmers
                              %p This dude has been hard at work the last two years producing “Coachella Walls” and “Cali Walls.” Both projects were founded as Arts-Driven Community Revitalisation Project focused towards the upliftment of the low income, and “marginalized” communities. Expect them to bring something similar to the polo fields.
                         %li
                              %h4 Katrina Neiburga &amp; Andris Eglitis
                              %p Both artists have been awarded the Purvitis Prive, the highest award in fine arts in Latvia, so this collab is really exciting. Katrina works heavily in avant garde video, while Andris sets his focus on oil-painting and sculptures. This mix of talent will likely produce one of the trippier art pieces this year. 
                              Check out their work here: <a href="http://aeglitis.lv" target="_blank">aeglitis.lv</a> + <a href="http://neiburga.lv" target="_blank">neiburga.lv</a>
                         %li
                              %h4 Robert Bose
                              %p Robert brought us the massive Balloon Chain a few years ago that’s been a Coachella staple since. We welcome him back with open arms to challenge our perspective on the open space surrounding us.
          .share-coachella.row
               .col-6.mx-auto
                    %h3 Share the Guide
                    %a.btn.btn-black.facebook{:href => "https://www.facebook.com/sharer/sharer.php?u=noonpacific.com/coachella-guide-2016", :target => "_blank"}
                         %i.fa.fa-facebook 
                         Share
                    %a.btn.btn-black.twitter{:href => "https://twitter.com/home?status=The%20%40NoonPacific%20Guide%20to%20%40Coachella!%20Check%20out%20which%20artists%20you%20can't%20miss,%20the%20best%20food,%20and%20rad%20art.%20bit.ly/coachella-guide-2016", :target => "_blank"} 
                         %i.fa.fa-twitter
                         Tweet
          .follow-us.row
               .col-6.mx-auto
                    %img{src: "#{image_path("np_snapchat.jpg")}"}