= partial 'partials/sidebar-toggle'
= partial 'partials/sidebar-no-audio'
= partial 'partials/app-modal'
= partial 'partials/subscribe-modal'

.main 
     .main__collections__archive
          %ul.main__archive-grid.list-reset.animated.fadeIn
               %li
                    %a{:href => "/collections/gramovox", :target => "_blank"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("collections/gramovox.jpg")}", :width => "300"}
               %li
                    %a{:href => "/collections/spacejamstwo", :target => "_blank"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("collections/space_jams_2.jpg")}", :width => "300"}
               %li
                    %a{:href => "/collections/summerfade", :target => "_blank"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("collections/summer_fade.jpg")}", :width => "300"}
               %li
                    %a{:href => "/collections/summa", :target => "_blank"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("collections/summa.jpg")}", :width => "300"}
               %li
                    %a{:href => "/collections/slowtide", :target => "_blank"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("collections/slow_tide.jpg")}", :width => "300"}
               %li
                    %a{:href => "/collections/greetings", :target => "_blank"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("collections/greetings.jpg")}", :width => "300"}
               %li
                    %a{:href => "/collections/coachella", :target => "_blank"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("collections/coachella.jpg")}", :width => "300"}
               %li
                    %a{:href => "/collections/spacejams", :target => "_blank"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("collections/space_jams.jpg")}", :width => "300"}
               %li
                    %a{:href => "/collections/midnightsnack", :target => "_blank"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("collections/midnight_snack.jpg")}", :width => "300"}