= partial 'partials/sidebar-toggle'
= partial 'partials/sidebar-no-audio'
= partial 'partials/apple-modal'
= partial 'partials/android-modal'
= partial 'partials/subscribe-modal'

.main 
     .main__for-artists.col-12.mt4.center.animated.fadeIn
          %h1.m0.px2 FOR ARTISTS
          %h2.mt1.mb3.px2 the music industry is complex. we make it easy.
          %a.btn.btn-black.my3{href: "/np-records-application", target: "_blank"} Sign to Noon Pacific Records
          / .label-info.clearfix
          /      .sm-col.sm-col-12.md-col-4.p4.left
          /           %h3.m0 80/20 Split
          /           %p.mt1.grey In artist favor. Keep ownership of your own art.
          /      .sm-col.sm-col-12.md-col-4.p4.left
          /           %h3.m0 1 year exclusive
          /           %p.mt1.grey Give us one year to help you succeed.
          /      .sm-col.sm-col-12.md-col-4.p4.left
          /           %h3.m0 Sub-license 
          /           %p.mt1.grey Feel free to sign to another label while you're with us.

          .label-services.clearfix
               .col.col-12
                    .sm-col-12.md-col-8.lg-col-6.py4.mx-auto
                         .clearfix.mb2
                              .left.p2.mr4.label-service-icon
                                   %img{alt: "Noon Pacific Distribution", src: "#{image_path("distribution.svg")}"}
                              .pt3.label-service-info
                                   %h3.m0 YOUR MUSIC. EVERYWHERE.
                                   %ul 
                                        %li
                                             Seasonal compilation
                                        %li
                                             YouTube promotion
                                        %li
                                             Exclusive distribution deal with <a href="vnyl.org" target="_blank">VNYL</a>
               .col.col-12
                    .sm-col-12.md-col-8.lg-col-6.py4.mx-auto
                         .clearfix.mb2
                              .left.p2.mr4.label-service-icon
                                   %img{alt: "Noon Pacific Press", src: "#{image_path("press.svg")}"}
                              .pt3.label-service-info
                                   %h3.m0 GET PRESS
                                   %ul 
                                        %li
                                             In-house public relations
                                        %li
                                             We reach out to bloggers for you
                                        %li
                                             Automatic inclusion in email newsletter
                                                  

               .col.col-12
                    .sm-col-12.md-col-8.lg-col-6.py4.mx-auto
                         .clearfix.mb2
                              .left.p2.mr4.label-service-icon
                                   %img{alt: "Noon Pacific Content Creation", src: "#{image_path("content.svg")}"}
                              .pt3.label-service-info
                                   %h3.m0 CREATE ORIGINAL CONTENT
                                   %ul 
                                        %li
                                             Exclusive interviews
                                        %li
                                             Professional music visuals for YouTube
                                        %li
                                             Personalized social media support
                                                  
               .col.col-12
                    .sm-col-12.md-col-8.lg-col-6.py4.mx-auto
                         .clearfix.mb2
                              .left.p2.mr4.label-service-icon
                                   %img{alt: "Noon Pacific Design", src: "#{image_path("design.svg")}"}
                              .pt3.label-service-info
                                   %h3.m0 STAND OUT WITH DESIGN
                                   %ul 
                                        %li
                                             Award-winning designers
                                        %li
                                             Original artwork for album covers and online presence
                                        %li
                                             Differentiate yourselves from other artists
                                                  

               .col.col-12
                    .sm-col-12.md-col-8.lg-col-6.py4.mx-auto
                         .clearfix.mb2
                              .left.p2.mr4.label-service-icon
                                   %img{alt: "Noon Pacific Sync", src: "#{image_path("sync.svg")}"}
                              .pt3.label-service-info
                                   %h3.m0 MONETIZE YOUR MUSIC
                                   %ul 
                                        %li
                                             Exclusive partnerships with top sync firms
                                        %li
                                             Monetize your Soundcloud with our Repost parternship
                                        %li
                                             Get connected to top brands                         

               .col.col-12
                    .sm-col-12.md-col-8.lg-col-6.py4.mx-auto
                         .clearfix.mb2
                              .left.p2.mr4.label-service-icon
                                   %img{alt: "Noon Pacific Accounting", src: "#{image_path("accounting.svg")}"}
                              .pt3.label-service-info
                                   %h3.m0 GET PAID FASTER
                                   %ul 
                                        %li
                                             Accountable accounting
                                        %li
                                             Quarterly payouts
                                        %li
                                             Fully transparent                          
                         
     .col-12.mt4.center.animated.fadeIn
          %a.btn.btn-black.my3{href: "/np-records-application", target: "_blank"} Sign to Noon Pacific Records
     /      %h1.m0.px2 The Music
     /      .label-songs.clearfix
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}
     /           .sm-col.sm-col-12.md-col-3.p2.left
     /                %img.fit{alt: "NP Single", src: "#{image_path("178.jpg")}"}


