= partial 'partials/sidebar-toggle'
= partial 'partials/sidebar-no-audio'
= partial 'partials/apple-modal'
= partial 'partials/android-modal'
= partial 'partials/subscribe-modal'

.main 
     .main__friends.col-12.mt4.center.animated.fadeIn
          %h1.m0.px2 Friends of Noon Pacific
          %h2.mt1.mb3.px2 These people help(ed) build the brand
          %ul.list-reset
               %li 
                    %h4 Alex Givens
                    %p Partner | Design &amp; Development
               %li 
                    %h4 Shaun Russell
                    %p Front-End Development
               %li 
                    %h4 Matt Nibecker
                    %p Back-End Development
               %li 
                    %h4 Connor Montgomery
                    %p Mac App Development
               %li 
                    %h4 Yohan Rizk
                    %p Android Development
               %li 
                    %h4 James Sealey
                    %p Advisor
               %li 
                    %h4 Cara Luck 
                    %p Social Media
               %li 
                    %h4 Sean Simmons
                    %p Marketing
               
               %li 
                    %h4 Taylor Davidson
                    %p Financial Modeling
               %li 
                    %h4 Matthew Keys
                    %p PR


