= partial 'partials/sidebar-toggle'
= partial 'partials/sidebar'
= partial 'partials/apple-modal'
= partial 'partials/android-modal'
= partial 'partials/subscribe-modal'

.main

     %ng-view
             
     .main__archive-hint.ng-cloak.animated.fadeIn
          %p.m0.grey.animated.fadeIn archive
          %i.fa.fa-angle-down.grey.animated.fadeIn
     .main__archive.ng-cloak.animatedLong.fadeIn
          %ul.main__archive-grid{"ng-controller" => "MixListCtrl"}
               %li.currentMix.mix{"ng-repeat" => "mix in Mix.Mixes.array"}
                    %a{"data-content" => "{{mix.name}}", :href => "#/mix/{{mix.id}}", "ng-class" => "{'mixtapes': true, 'playing': mix.id === Mix.PlayingMixID}"}
                         %img.lazy.animated.fadeIn{:alt => "{{mix.name}}", "data-original" => "{{mix.cover_large}}?h=250&w=250", :height => "250", :src => "/img/grey.jpg", :width => "250"}
= partial 'partials/mobile-player'                        
= partial 'partials/footer'

-# KOL
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"}
:javascript
     window.$kol_jquery = window.jQuery
%script{:src => "https://kickoffpages-kickofflabs.netdna-ssl.com/widgets/1.2.0/kol_any_form.js"}
%script{:src => "https://kickoffpages-kickofflabs.netdna-ssl.com/w/40404/49096.js"}


