= partial 'partials/sidebar-toggle'
= partial 'partials/sidebar-no-audio'
= partial 'partials/apple-modal'
= partial 'partials/android-modal'
= partial 'partials/subscribe-modal'

.main 
     .main__sessions__archive.animated.fadeIn
          %ul.main__sessions-grid.list-reset.animated.fadeIn
               %li
                    %a{:href => "/sessions/001-nico-yaryan", "data-content" => "SESSION // 001"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("sessions/nico_yaryan.jpg")}", :width => "300"}
               %li
                    %a{:href => "/sessions", "data-content" => "Coming Soon"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("sessions/new_york.jpg")}", :width => "300"}
               %li
                    %a{:href => "/sessions", "data-content" => "Coming Soon"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("sessions/miami.jpg")}", :width => "300"}
               %li
                    %a{:href => "/sessions", "data-content" => "Coming Soon"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("sessions/los_angeles.jpg")}", :width => "300"}
               %li
                    %a{:href => "mailto:sessions@noonpacific.com", "data-content" => "Request A City"}
                         %img.lazy{:alt => "", :height => "300", :src => "#{image_path("sessions/request.jpg")}", :width => "300"}
               %li
                    // Invisible child element cuz flexbox 