= partial 'partials/sidebar-toggle'
= partial 'partials/sidebar'
= partial 'partials/app-modal'
= partial 'partials/subscribe-modal'

.main 
     .main__video.col-9.mx-auto.mt4
          %h1.center WHITNEY &mdash; NOON PACIFIC SESSION // 001
          .videoWrapper.videoWrapper169.js-videoWrapper
               %iframe.videoIframe.js-videoIframe{:allowTransparency => "true", :allowfullscreen => "", "data-src" => "https://www.youtube.com/embed/CGKN6qiDqnk?autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0", :frameborder => "0", :src => ""}
               / the poster frame - in the form of a button to make it keyboard accessible
               %button.videoPoster.js-videoPoster{:style => "background-image:url(#{image_path("npsession_001.jpg")});"} Play video
          %h3 
               Scribe Winery, Sonoma, California
          %p 
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum nisi vitae ligula fermentum, in porttitor enim porttitor. Sed ultricies ipsum bibendum, ultricies lectus eget, venenatis libero. Proin vitae purus nec dui malesuada tempor eu nec turpis.


