= partial 'partials/sidebar-toggle'
= partial 'partials/sidebar-no-audio'
= partial 'partials/apple-modal'
= partial 'partials/android-modal'

.main 
  .clearfix
    .main__tv.sm-col.sm-col-12
      %section.tv-header
        %img{alt: "Noon Pacific tvOS", src: "#{image_path("tvos.png")}"}
        %p.mt2 Available Now on Apple TV

        .atvImg
          .atvImg-layer{"data-img" => "#{image_path("back-large.png")}"}
          .atvImg-layer{"data-img" => "#{image_path("front-large.png")}"}

      %section.tv-body
        %img{alt: "Noon Pacific TV - Home", src: "#{image_path("tv_home.png")}"}
        %img{alt: "Noon Pacific TV - Home", src: "#{image_path("tv_all_mixtapes.png")}"}
        %img{alt: "Noon Pacific TV - Home", src: "#{image_path("tv_current_mixtape.png")}"}

      %section.tv-footer
        
        %p We'll let it speak for itself...

        %img{alt: "Noon Pacific tvOS", src: "#{image_path("tvos.png")}"}